.column-list {
  width: 100%;
  font-size: 1rem;
}
.column-list dl {
  display: flex;
  margin: 0;
  padding: 0;
}
.column-list dl div.list-item {
  padding: 3px;
}
.column-list dl div.list-item dt {
  float: left;
  max-width: 90px;
  overflow: hidden;
  max-height: 1rem;
}
.column-list dl div.list-item dd {
  float: right;
}
.column-list dl div.list-item .column-editor {
  width: 100%;
  clear: both;
  height: 30px;
}
.column-list dl div.list-item .column-editor label span {
  float: left;
}
.column-list dl div.list-item .column-editor label input[type=checkbox] {
  float: left;
}
.dependent-tabs {
  font-size: 1rem;
}
.dependent-tabs ul.tabs li {
  float: left;
  background: var(--ag-background-color);
  color: var(--ag-foreground-color);
  border: 1px solid purple;
  border-bottom: none;
  list-style: none;
  margin-right: 5px;
  padding: 2px;
}
.dependent-tabs ul.tabs li.active {
  background: var(--ag-range-selection-background-color-3);
  color: var(--ag-alpine-active-color);
}
.dependent-tabs .output-area {
  clear: both;
  float: none;
}

.python-displayer, .command-displayer {
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 13%);
  overflow: hidden;
  padding: 16px;
  /*border:1px solid red; */
}
.python-displayer pre, .command-displayer pre {
  color: #41FF00;
}

.command-displayer pre {
  overflow: hidden;
}


.modal {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 16px;
  list-style: none;
}
.modal > li {
  padding: 8px;
}

.command-viewer {
  border: 1px solid;
  color: black;
  font-size: 1rem;
}
.command-viewer .operation-adder {
  clear: both;
}
.command-viewer .operation-adder span.column-name {
  float: left;
  display: block;
  color: black;
}
.command-viewer .operation-adder fieldset {
  float: left;
}
.command-viewer .operations-box {
  clear: left;
  display: flex;
  overflow: auto;
}
.command-viewer .operations-box h4 {
  font-size: 1em;
  border: 1px orange;
  color: black;
}
.command-viewer .operations-box div {
  overflow-x: scroll;
}

.operation-detail {
  overflow: auto;
}
.operation-detail button {
  float: left;
}
.operation-detail .arg-getters button {
  float: left;
}
.operation-detail .arg-getters fieldset {
  float: left;
}
.operation-detail .arg-getters div.col-enum {
  float: left;
  width: 800px;
  overflow-x: scroll;
}
.operation-detail .arg-getters div.col-enum table td, .operation-detail .arg-getters div.col-enum table th {
  border: 1px solid black;
}

.col-enum table {
    margin-bottom:9px;
}

.ag-theme-alpine-dark  {
    --ag-grid-size:3px;
    --ag-list-item-height: 20px;
 }

div.dependent-tabs ul.tabs li.active {
    background:rgba(33, 150, 243, 0.49);
/*    border:1px solid red; */
}

.ag-row .ag-cell {
    font-family: monospace;
    white-space: pre;
}
.left-menu {
    color:black;
}



.status-bar {
    /*
      useful debugging props.  maybe figure out a way to turn on/off in storybook
    border:3px dashed purple;
    padding:10px;
    background:orange;

   */

}
.status-bar .ag-center-cols-viewport {
    min-height: unset !important;
}

.status-bar .ag-root-wrapper {
    /* the status-bar is always displayed with the df-viewer */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.buckaroo-widget .df-viewer  .ag-root-wrapper {
    /* We want the status bar and the main df-viewer to look like a
   continuous UI when used together.

   when just df-viewer is shown, there will be regular top borders
   */
   border-top-left-radius: 0;
   border-top-right-radius: 0;


}


.marimo .orig-df {
    display:flex;
    flex-direction:column;
}
.marimo .statusBar {
    width:100%;
    order:1
}

.marimo .orig-df .df-viewer {
    order:1
}
.custom-tooltip {
    color:black;
    background:green;
}


.histogram-component {
    margin:0;
    border-left:1px solid #68686e;
    border-right:1px solid #68686e;
		
	   
}

.floating-tooltip {
    color:black;;
    background:white;
}


.floating-tooltip dl {
    border:1px solid black;
    padding:1px 4px;
    margin:0;
    display:flow-root;
}
.floating-tooltip dl dt {
    font-weight:bold;
    float:left;
    margin:0;
    padding:0;

}
.floating-tooltip dl dd {

    float:left;
    margin:0 0 0 10px;
    clear:right;
}

.df-viewer {
    width:100%;
}
.df-viewer.short-mode .ag-center-cols-viewport {
/*  min-height: unset !important;  */
    min-height: 50px;

}

.df-viewer.in-iframe.short-mode {
 .ag-center-cols-viewport {
    min-height:450px;
  }
}
.df-viewer.in-iframe {
  .ag-center-cols-viewport {
     min-height:450px;
   }
 }


/*
.df-viewer.short-mode > div {

  min-height: 100;
  max-height: 800
}
*/


.ag-root-wrapper-body .ag-cell-inline-editing {
    /* this is trying to remove the weird styling thing that sometimes happens with the editted cell where the
edit box moves up and is only half visible */
    height: 100%;
}


/* unspecific rule that should only apply in a shaddow dom */
.buckaroo_anywidget {
  min-width:900px;
}
/* this should override the above rule.  for some reason in jupyter, the .buckaroo_anywidget div isn't injected */
div div div .buckaroo_anywidget {
  min-width:inherit;
  /* border:5px solid brown; */
}


/* These are important to remove the blue outlines around the  */

/*
.statusBar .ag-ltr .ag-cell-inline-editing.ag-cell input{
  border-color:none;
  border:none;
  outline:1px solid var(--ag-border-color);
  padding-left:5px;
} 

.statusBar .ag-ltr .ag-cell-inline-editing.ag-cell button {
  border-radius: 2px;
  outline:none;
  padding:0 2px 0 2px;
} 

.statusBar .ag-ltr .ag-cell-inline-editing.ag-cell .SearchEditor{
  border-color:none;
  border:none;
  outline:1px solid var(--ag-border-color);
}
  */
.statusBar .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.statusBar .ag-ltr .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.statusBar .ag-ltr .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
.statusBar .ag-ltr .ag-cell-range-single-cell,
.statusBar .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
.statusBar .ag-rtl .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.statusBar .ag-rtl .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.statusBar .ag-rtl .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
.statusBar .ag-rtl .ag-cell-range-single-cell,
.statusBar .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
  border-style:none;
  outline: initial;
}


.statusBar .ag-column-first { 
  padding:0;
}

.statusBar .ag-column-first .FakeSearchEditor input{ 
  outline:none;
}


/*  lm-Widget lm-Panel jp-OutputArea-output
classNames of the anywidget el parent while in jupyter

when in vs-code
cell-output-ipywidget-background

when in marimo
contents light

When debugging CSS inside a weird environment I did the following
	const [style_block, _set_style_block] = useModelState("style_block");
	return (
	    <div className="buckaroo_anywidget">
		<style>{style_block}</style>
	    <srt.BuckarooInfiniteWidget
Then set the `style_block` property from ptyhon.  
*/
div.cell-output-ipywidget-background {
    background:#1f1f1f !important;
}
.cell-output-ipywidget-background .status-bar {
    margin-bottom:0;
}

.cell-output-ipywidget-background .df-viewer {
    margin-top:0;
}
.cell-output-ipywidget-background .df-viewer  .theme-hanger{
    margin-top:-12px;
}
