.col-enum table {
    margin-bottom:9px;
}

.ag-theme-alpine-dark  {
    --ag-grid-size:3px;
    --ag-list-item-height: 20px;
 }

div.dependent-tabs ul.tabs li.active {
    background:rgba(33, 150, 243, 0.49);
/*    border:1px solid red; */
}

.ag-row .ag-cell {
    font-family: monospace;
}

