.left-menu button {
    text-align: left;
    font-weight: bold;
    color: #333333;
}

.left-menu a:hover {
    text-decoration: none;
}

.left-menu {
    width: 105;
    min-width: 15em;
    max-width: 15em;
    overflow:hidden
}

.codeblock {
    max-height: 90vh;
    overflow-y: scroll;
}

.codeblock > pre {
    margin-top: 0 !important;
}

.codeblock > pre > code {
    font-size: 0.9rem !important;
    line-height: 1.1 !important;
}



:root
{
    --color-example: #fff;
}

.fluid-container {
    min-width:950px
}

html,body
{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    text-align: center;
    color: var(--color-example);
    margin: 0;
}

#app
{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: var(--color-example);

    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction:column;
    align-items: center;
    font-size: 2rem;
    outline:4px solid pink;
}

.histogram {
    color:black;
}

.customHeaderRenderer {
    height:100%;
}
.customHeaderLabel {
    padding:0;
}


.histogram-ex {

}

.histogram-ex .histogram-wrap {border: 1px solid gray; clear:both}
.histogram-ex span {color:black; width:200px; float:left; text-align:left; }
.histogram-ex .histogram-component {width:105px; float:left} 
.patterns {
    width: 100vw;
    height: 100vw;
}
 

.small-bar {
    height:30px; width:10px;
}

.med-bar {
    height:100px; width:100px;
}

/*
from https://www.magicpattern.design/tools/css-backgrounds
*/
.pt1 {
background-color: #e5e5f7;
opacity: 0.8;
background-image:  repeating-linear-gradient(45deg, #444cf7 25%, transparent 25%, transparent 75%, #444cf7 75%, #444cf7), repeating-linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%, #e5e5f7 75%, #444cf7 75%, #444cf7);
background-position: 0 0, 2px 2px;
background-size: 4px 4px;

}
.pt4 {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, #444cf7, #444cf7 3px, #e5e5f7 3px, #e5e5f7 6px );
}

.pt5 {
background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
background-position:  3px 0, 3px 0, 0 0, 0 0;
background-size: 6px 6px;
background-repeat: repeat;
}

.pt6  {
background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 1.2px, #e5e5f7 1.2px);
background-size: 4px 4px;
}

.pt7 {
background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient( ellipse farthest-corner at 4px 4px , #444cf7, #444cf7 50%, #e5e5f7 50%);
background-size: 4px 4px;

}
/* 
body {

    margin: 0;
    min-height: 100vh;
}
 
html {
    background: #fff;
}

special values

true
false
n/a
long tail
completely unique


*/


.ag-column-hover: {
    overflow: visible
}
.histogram-ex { background:#181d1f}
.histogram-ex span { color : white }


