.table-fixed {
    table-layout: fixed;
}

.btn-width {
    width: 3rem;
    text-align: end;
}

.table-rounded td {
    border-bottom-width: 0;
}

.table-rounded td:first-child {
    border-radius: 10px 0 0 10px;
}

.table-rounded td:last-child {
    border-radius: 0 10px 10px 0;
}
